<html>

<head>
	<title>My Angular App</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body ng-app='myApp'>
	<h1>display working</h1>
	<div ng-controller="ProjectController as projCtrl">
		<div ng-model='projCtrl.content' ui-ace="{
  useWrapMode : true,
  showGutter: true,
  mode: 'html',
  onLoad: aceLoaded,
  onChange: aceChanged
}">

		</div>
		<button ng-click='projCtrl.getContent()'>load test</button>
		<button ng-click='projCtrl.showProjHist()'>show project history</button>
		<div>
			<ul>
				<li ng-repeat="version in projCtrl.projectArray | orderBy:'-date' track by $index">
					<button ng-class="$index === projCtrl.lastProjectIndex && projCtrl.showIframe ? 'selected': 'notSelected';" ng-click='projCtrl.selectVersion($index)'>{{version.date | date:"medium"}}</button>
				</li>
			</ul>
			<iframe ng-show='projCtrl.showIframe' ng-src='{{projCtrl.currentUrl()}}'></iframe>
		</div>
	</div>

	<script type="text/javascript" src="mockdata.js"></script>
	<script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="ProjectController.js"></script>
	<script type="text/javascript" src="ProjectService.js"></script>

</body>

</html>