<html>

<head>
	<title>My Angular App</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body ng-app='myApp'>

	<div ng-controller="ProjectController as projCtrl">
		<h1>{{projCtrl.currentProject()}}</h1>
		<div>
			<ul>
				<li ng-repeat="version in projCtrl.publishedVersions() | orderBy:'-date' track by $index">
					<button ng-class="$index === projCtrl.lastProjectIndex && projCtrl.showIframe ? 'selected': 'notSelected';" ng-click='projCtrl.selectVersion($index)'>{{version.date |date:"MM/dd/yyyy 'at' h:mma"}}</button>
				</li>
			</ul>
			<div ng-if="true">
				<ul>
					<li ng-repeat="file in projCtrl.filesList() track by $index">
						<file-history></file-history>
						<!--<file-history data-file="{{file}}" data-index={{$index}}></file-history>-->
					</li>
				</ul>

				<iframe class="pagePreview" ng-src='{{projCtrl.currentUrl()}}'></iframe>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="mockdata.js"></script>
	<script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
	<script type="text/javascript" src="ProjectService.js"></script>
	<script type="text/javascript" src="FileHistoryFactory.js"></script>
	<script type="text/javascript" src="FileHistoryDirective.js"></script>
	<script type="text/javascript" src="FileHistoryController.js"></script>
	<script type="text/javascript" src="ProjectController.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>

</html>